<html>
    <body>
    <div>
        {{invalidUserMessage}}
    </div>
        <div>
            <form method="POST" action="/create-account">
                <input type="text" placeholder="Username" name="username" required>
                <input type="text" placeholder="Password" name="password" required>
                <button>Create Account</button>
            </form>
        </div>
        <div>
            <form method="POST" action="/login">
                <input type="text" placeholder="Username" name="username" required>
                <input type="text" placeholder="Password" name="password" required>
                <button>Login</button>
            </form>
        </div>
    </body>
</html>