body{
    background-color: grey;
}

.score_bar{
    position: relative;
    margin: auto;
    background-color: BLACK;
    width: 100%;
    height: 5%;
}

.score_points{
    position:absolute;
    margin: auto;
    top:15%;
    right: 5%;
    color:grey
}

.game_board{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:auto;
    top: 150%;
    background-color: black;
    width: 95%;
    height: 1650%;
    padding-top: 3%;
    padding-bottom: 1.6%;
}

.game_board div{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50px;
    margin: 0.25%;
}

.red > div{
    display: flex;
    flex-direction: row;
    position: relative;
}

.game_board .red div{
    background-color: red;
    width: 9%;
}

.yellow > div{
    display: flex;
    flex-direction: row;
    position: relative;
}

.game_board .yellow div:nth-child(2){
    margin-right: 20%;
}


.game_board .yellow div:nth-child(3){
    margin-left: -2.6%;
}

.game_board .yellow div:nth-child(6){
    margin-right: -2.6%;
}

.game_board .yellow div:nth-child(7){
    margin-left: 20%;
}


.game_board .yellow div{
    background-color: yellow;
    width: 9%;
}

.green > div{
    display: flex;
    flex-direction: row;
    position: relative;
}

.game_board .green div{
    background-color: green;
    width: 9%;
}

.blue > div{
    display: flex;
    flex-direction: row;
    position: relative;
}

.game_board .blue div{
    background-color: blue;
    width: 9%;
}

.game_board .player_bar{
    background-color: gray;
    position: relative;
    margin: auto;
    top: 20%;
    width: 10%;
    height: 1%;
}




































/*body{
    background-color: grey;
}

.gameboard{
    position: relative;
    margin:auto;
    top: -4%;
    background-color: black;
    width: 97%;
    height: 5%;
    padding: auto;
}

.gameboard div{
    position: relative;
    margin: 2%;
    top: 2px;
    right: 16px;
    width: 9%;
    height: 55%;
    padding: 0.35%;
    left: 90%;
    color: grey;
    
}

.board{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 95%;
    height: 95%;
}


.rows{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: black;
    position: relative;
    width: 98%;
    height: 90%;
    top: 2%;
    left:1%;
}

.rows > .red{
    display: flex;
    flex-direction: column;
    background-color: red;
    margin-top: 1%;
    margin-left:.3%;
    width: 8%;
    height: 4%;
}*/

.rows > .yellow{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-top: 1%;
    margin-left:.3%;
    width: 8%;
    height: 4%;
}


.rows > .green{
    display: flex;
    flex-direction: column;
    background-color: green;
    margin-top: 1%;
    margin-left:.3%;
    width: 8%;
    height: 4%;
}

.rows > .blue{
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin-top: 1%;
    margin-left:.3%;
    width: 8%;
    height: 4%;
}

