<html>
    <head>
    </head>
    <body>
        <div input="search-container">
            
        </div>
        <div id="input-container">
            <form method="POST" action="/add-trip">
                Destination:<input type="text" placeholder="To?" name="locationName"/>
                Departure:<input type="date" name="departureDate"/>
                Return:<input type="date" name="returnDate"/>
                <button>Go!</button>
            </form>
        </div>
    </body>
</html>