<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="navigation-container">
            <div input="search-container">
                <form method="POST" action="/my-trip">
                    <input type="text" placeholder="Find My Trip" name="locationName"/>
                    <button>Find!</button>
                </form>
            </div>
            <h1>My trips</h1>
        </div>
        <div id="trips-container">
            <ul>
                {{#myTrips}}
                    <li>
                        <form method="POST" action="/remove-trip">
                            <h2>Trip to {{title}}</h2>
                            <h3>Departure: {{departure}} - Return: {{returnDate}}</h3>
                            <button value={{tripId}} name="tripId">Remove</button>
                        </form>
                    </li>
                {{/myTrips}}
            </ul>
        </div>
    </body>
    <script src="/js/third-party-libs/libs.js"></script>
</html>