<html>
    <body>
        <div>
            <h2>Title: {{post.title}}</h2>
            <caption>Date Created: {{post.createdAt}} Last Update:{{post.updatedAt}}</caption>
            <p> Message: {{post.body}}</p>
        </div>
        <form method="POST" action="/update/{{post.id}}" id="updatePost">
            <div>
            Title: <input type="text" placeholder="Title" name="title" value={{post.title}} required>
            Category: <input type="text" placeholder="Topic" name="category" value={{post.category}} required>
            </div>
            <div>
            Message: <input type="text" placeholder="Message" name="body" value={{post.body}} required>
            </div>
        </form>
    </body>
</html>